Box2D~=2.3.10
eel~=0.14.0
gym~=0.17.3
h5py
keras~=2.4.3
matlab~=0.1
matplotlib~=3.3.4
numpy~=1.19.5
obspy~=1.2.2
pandas~=1.2.2
pyinstaller
scikit-learn
scipy~=1.6.1
shapely~=1.7.1
similaritymeasures~=0.4.4
sympy~=1.7.1
tensorflow~=2.4.1
rl~=3.0
future~=0.18.2
geopandas~=0.9.0
Pillow~=7.2.0
pyglet~=1.5.0