@font-face {
    font-family: OpenSansLight;
    src: url("font/OpenSans-Light.ttf");
}

@font-face {
    font-family: OpenSansRegular;
    src: url("font/OpenSans-Regular.ttf");
}

@font-face {
    font-family: OpenSansBold;
    src: url("font/OpenSans-SemiBold.ttf");
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    margin: 5px;
}

::-webkit-scrollbar-thumb {
    background: #cccccc;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #bbbbbb;
}

::-webkit-scrollbar-thumb:active {
     background: #aaaaaa;
 }

* {
    border: 0;
    margin: 0;
    padding: 0;
    outline: none;
    user-select: none;
    box-sizing: border-box;
}

html {
    height: 100%;
    overflow: hidden;
    font-family: OpenSansRegular, sans-serif;
}

body {
    height: 100%;
}

header {
    z-index: 1;
    height: 40px;
    background: #254053;
    -webkit-app-region: drag;
    color: rgba(255,255,255,0.9);
}

#window-title {
    float: left;
    font-size: 0.9rem;
    line-height: 40px;
    padding-left: 15px;
}

#window-controls {
    height: 100%;
    float: right;
    display: flex;
    -webkit-app-region: no-drag;
}

#window-controls button {
    width: 50px;
    background: #254053;
}

#min-button:hover, #max-button:hover {
    background: rgba(255,255,255,0.1);
}

#min-button:active, #max-button:active {
    background: rgba(255,255,255,0.2);
}

#close-button:hover {
    background: #E81123;
}

#close-button:active {
    background: #F1707A;
}

main {
    overflow: scroll;
    margin: 0 2px 0 2px;
    padding: 20px 25px 20px 20px;
    height: calc(100% - 20px);
}

#w1 {
}

#w2 {
    display: none;
}

#w3 {
    display: none;
}

.center {
    top: 40%;
    left: 50%;
    width: 700px;
    position: absolute;
    transform: translate(-50%, -50%);
}

.left {
    float: left;
    width: 100%;
    margin: 25px 0;
}

.right {
    display: none;
    float: right;
    width: 30%;
    padding: 40px 10px 0 25px;
}

.title {
    color: #254053;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
    font-family: OpenSansLight, serif;
}

.component {
    margin: 10px;
    width: 150px;
    height: 150px;
    padding: 20px;
    border-radius: 2px;
    background: #f5f5f5;
    font-family: OpenSansBold, serif;
}

.component:hover {
    background: #e5e5e5;
}

.component:active {
    background: #dddddd;
}

.component p {
    margin-top: 15px;
    text-align: center;
}

.component img {
    width: 75px;
    margin: auto;
    display: block;
}

#line {
    margin: auto;
    height: 175px;
    border-left: 1px solid #f5f5f5;
}

.button {
    color: white;
    width: 250px;
    height: 50px;
    cursor: pointer;
    border-radius: 2px;
    background: #254053;
    transition: 0.5s ease-in-out;
    font-family: OpenSansBold, serif;
}

.button:hover {
    background: #1a3a4a;
}

.button:active {
     background: #142e3b;
 }

.button p {
    line-height: 50px;
    text-align: center;
}

.file-name {
    margin-bottom: 30px;
    text-align: center;
    height: 25px;
}

.insert {
    width: 50%;
}

#open-button1, #open-button2 {
    margin: 10px auto;
}

.flex {
    display: flex;
}

.flex-row {
    display: flex;
    flex-flow: row wrap;
}

#ok-button {
    color: white;
    height: 50px;
    border-radius: 2px;
    background: #254053;
    margin: 25px;
    font-family: OpenSansBold, serif;
}

#ok-button:hover {
    background: #1a3a4a;
}

#ok-button:active {
    background: #142e3b;
}

#ok-button p {
    line-height: 50px;
    text-align: center;
}
#back-button {
    width: 40px;
    height: 40px;
    display: block;
    cursor: pointer;
    padding: 10px 0;
    border-radius: 50%;
    background: #f5f5f5;
    transition: 0.5s ease-in-out;
}

#back-button:hover {
    background: #e5e5e5;
}

#back-button:active {
    background: #dddddd;
}

#back-button img {
    height: 20px;
    margin: auto;
    display: block;
}

#name {
    color: #254053;
    font-size: 1.5rem;
    text-align: center;
    margin: auto 20px;
    font-family: OpenSansLight, serif;
}

#print-button {
    width: 40px;
    height: 40px;
    display: block;
    cursor: pointer;
    padding: 10px 0;
    margin-left: 20px;
    border-radius: 50%;
    background: #f5f5f5;
    transition: 0.5s ease-in-out;
}

#print-button:hover {
    background: #e5e5e5;
}

#print-button:active {
    background: #dddddd;
}

#print-button img {
    height: 20px;
    margin: auto;
    display: block;
}

#save-button {
    width: 40px;
    height: 40px;
    display: block;
    cursor: pointer;
    padding: 10px 0;
    margin-left: auto;
    border-radius: 50%;
    background: #f5f5f5;
    transition: 0.5s ease-in-out;
}

#save-button:hover {
    background: #e5e5e5;
}

#save-button:active {
    background: #dddddd;
}

#save-button img {
    height: 20px;
    margin: auto;
    display: block;
}

.info {
    background: #f5f5f5;
    margin: auto;
    padding: 20px 25px;
    text-align: center;
    width: 300px;
    border-radius: 2px;
}

.info-number {
    margin: auto;
}

.info h1 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.info p {
    margin-top: 5px;
}

.charts {
    width: 98%;
    margin: 25px auto;
}

.chart {
    width: calc(50% - 50px);
    margin: 25px 25px;
}

.stats {
    height: 90%;
}

.road {
    width: 98%;
    margin: 40px auto 0 auto;
}

.list {
    background: #f5f5f5;
    padding: 20px 25px;
}

.list h1 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

ul {
    margin-left: 25px;
}

@page {
    size: A4;
    margin: 20mm 10mm;
}

@media print {
    html, body, main {
        margin: 0;
        padding: 0;
        width: 190mm;
    }

    header {
        display: none;
    }

    #name {
        font-family: OpenSansBold, serif;
        font-size: 1.5rem;
        margin: auto;
        color: black;
    }

    .info {
        margin-top: -10px;
    }

    .info h1 {
        font-size: 1rem;
    }

    #back-button {
        display: none;
    }

    #print-button {
        display: none;
    }

    #save-button {
        display: none;
    }

    .road {
        padding: 0;
    }
}