@font-face {
    font-family: OpenSansLight;
    src: url("font/OpenSans-Light.ttf");
}

@font-face {
    font-family: OpenSansRegular;
    src: url("font/OpenSans-Regular.ttf");
}

@font-face {
    font-family: OpenSansBold;
    src: url("font/OpenSans-SemiBold.ttf");
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    margin: 5px;
}

::-webkit-scrollbar-thumb {
    background: #cccccc;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #bbbbbb;
}

::-webkit-scrollbar-thumb:active {
     background: #aaaaaa;
 }

* {
    border: 0;
    margin: 0;
    padding: 0;
    outline: none;
    user-select: none;
    box-sizing: border-box;
}

html {
    height: 100%;
    overflow: hidden;
    font-family: OpenSansRegular, sans-serif;
}

body {
    height: 100%;
}

header {
    z-index: 1;
    height: 40px;
    background: #254053;
    -webkit-app-region: drag;
    color: rgba(255,255,255,0.9);
}

#window-title {
    float: left;
    font-size: 0.9rem;
    line-height: 40px;
    padding-left: 15px;
}

#window-controls {
    height: 100%;
    float: right;
    display: flex;
    -webkit-app-region: no-drag;
}

#window-controls button {
    width: 50px;
    background: #254053;
}

#min-button:hover, #max-button:hover {
    background: rgba(255,255,255,0.1);
}

#min-button:active, #max-button:active {
    background: rgba(255,255,255,0.2);
}

#close-button:hover {
    background: #E81123;
}

#close-button:active {
    background: #F1707A;
}

main {
    overflow: scroll;
    margin: 0 2px;
    padding: 25px 50px;
    height: calc(100% - 20px);
}

#w2 {
    display: none;
}

#w3 {
    display: none;
}

.w1 {
    width: 700px;
    margin-top: -50px;
}

.parameters {
    background: #f5f5f5;
    max-width: 800px;
    margin: 0 auto 40px;
    height: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

#cp, #mpc, #nn {
    display: none;
    padding: 50px;
}

.selector {
    margin: 40px auto 0 !important;
    width: 900px !important;
}

.select {
    overflow: hidden;
    margin-top: 0 !important;
    width: 450px !important;
    transition: height 0.25s ease-in-out;
    height: 80px;
}

.parameters input {
    background-color: #f5f5f5;
    border-bottom: 1px #333 solid;
    font-size: 16px;
    width: 100%;
    display: inline-block;
    margin: 0 5px;
}

.parameters label {
    display: inline-block;
}

.parameters-button {
    padding: 30px 0;
}

.parameters-buttons {
    margin: auto !important;
    width: auto !important;
}

#parameters-text {
    text-align: center;
    margin-bottom: 25px;
}

.half-inputs {
    width: 50%;
    padding: 40px 20px 0px;
}

.mpc-inputs {
    height: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.refxy, .refcrs {
    color: #132b3c;
}

.mpcxy, .mpccsr {
    color: #809db5;
}

.scpxy, .scpcsr {
    color: #4e7490;
}

.inputs {
    display: flex;
    margin: 0 25px 20px;
}

.run {
    opacity: 0.5;
    pointer-events: none;
    width: 100% !important;
    margin-top: 25px !important;
}

.center {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.left {
    float: left;
    padding-right: 20px;
}

.right {
    float: right;
    padding-left: 20px;
}

.disabled {
    opacity: 0.5;
    pointer-events: none;
    transition: 0.5s ease-in-out;
}

ul {
  list-style-type: none;
}

.title {
    color: #254053;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 25px;
    font-family: OpenSansLight, serif;
}

.component {
    margin: 0 10px;
    width: 150px;
    height: 150px;
    padding: 20px;
    cursor: pointer;
    border-radius: 2px;
    background: #f5f5f5;
    transition: 0.5s ease-in-out;
    font-family: OpenSansBold, serif;
}

.component:hover {
    background: #e5e5e5;
}

.component:active {
    background: #dddddd;
}

.component p {
    margin-top: 15px;
    text-align: center;
}

.component img {
    width: 75px;
    margin: auto;
    display: block;
}

#line {
    margin: auto;
    height: 175px;
    border-left: 1px solid #f5f5f5;
}

.button {
    color: white;
    width: 300px;
    height: 50px;
    cursor: pointer;
    border-radius: 2px;
    background: #254053;
    transition: 0.5s ease-in-out;
    font-family: OpenSansBold, serif;
    margin: auto;
}

.button:hover {
    background: #062942;
}

.button:active {
     background: #142e3b;
 }

.button p {
    line-height: 50px;
    text-align: center;
}

.button-small {
    color: white;
    width: 250px;
    height: 40px
}

.button-small p {
    line-height: 40px;
}

.button-smaller {
    width: 175px;
}

.selector-buttons {
    background-color: #254053;
    width: 350px;
}

.selector-buttons p {
    color: white !important;
}

.selector-buttons:hover {
    background-color: #062942;
}

.selector-buttons:active {
    background-color: #142e3b;
}

.selector-buttons p {
    color: #254053;
}

.file-name {
    margin: 20px 0;
    text-align: center;
    height: 25px;
}

.load {
    position: absolute;
    margin: 0 18px !important;
    opacity: 0;
}

.insert {
    width: 50%;
}

.insert2 {
    margin-top: -45px;
    margin-bottom: -30px;
}

li {
    cursor: pointer;
    color: rgb(0, 0, 0);
}

.flex-line {
    display: flex;
    width: fit-content;
    margin: auto;
}

.flex {
    display: flex;
}

.flex-row {
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    width: fit-content;
}

#ok-button {
    color: white;
    height: 50px;
    border-radius: 2px;
    background: #254053;
    margin: 25px;
    font-family: OpenSansBold, serif;
}

#ok-button:hover {
    background: #1a3a4a;
}

#ok-button:active {
    background: #142e3b;
}

#ok-button p {
    line-height: 50px;
    text-align: center;
}

#back-button {
    width: 40px;
    height: 40px;
    display: block;
    cursor: pointer;
    padding: 10px 0;
    border-radius: 50%;
    background: #f5f5f5;
    transition: 0.5s ease-in-out;
}

#back-button:hover {
    background: #e5e5e5;
}

#back-button:active {
    background: #dddddd;
}

#back-button img {
    height: 20px;
    margin: auto;
    display: block;
}

#name {
    color: #254053;
    font-size: 1.5rem;
    text-align: center;
    margin: auto 20px;
    font-family: OpenSansLight, serif;
}

#print-button {
    width: 40px;
    height: 40px;
    display: block;
    cursor: pointer;
    padding: 10px 0;
    margin-left: 20px;
    border-radius: 50%;
    background: #f5f5f5;
    transition: 0.5s ease-in-out;
}

#print-button:hover {
    background: #e5e5e5;
}

#print-button:active {
    background: #dddddd;
}

#print-button img {
    height: 20px;
    margin: auto;
    display: block;
}

#save-button {
    width: 40px;
    height: 40px;
    display: block;
    cursor: pointer;
    padding: 10px 0;
    margin-left: 20px;
    border-radius: 50%;
    background: #f5f5f5;
    transition: 0.5s ease-in-out;
}

#save-button:hover {
    background: #e5e5e5;
}

#save-button:active {
    background: #dddddd;
}

#save-button img {
    height: 20px;
    margin: auto;
    display: block;
}

#description {
    margin-left: auto;
    width: 250px;
    background: #f5f5f5;
    padding: 10px 20px;
    border-radius: 20px;
}

#ip {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    background: #f5f5f5;
    padding: 10px 20px;
    border-radius: 20px;
}

.info {
    background: #f5f5f5;
    padding: 35px;
    border-radius: 5px;
    margin-top: 50px;
    width: 400px;
}

.graph-title {
    margin: 40px 0 -15px;
    text-align: center;
    color: #254053;
    font-size: 1.25rem;
}

.info-bottom {
}

.info h1 {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.info-number {
    margin-bottom: 10px;
    display: flex;
}

.info-box {
    margin-bottom: 20px;
}

.animation {
    margin: 50px auto 10px;
    width: 575px;
}

.info label {
    padding-left: 10px;
}

.label0 {
    width: 4px;
    display: inline-block;
}

.label1 {
    width: 75px;
    display: inline-block;
}

.label2 {
    width: 100px;
    display: inline-block;
}

#numeroflaps, #referencenumber {
    font-weight: bold;
    margin-left: 5px;
}

.charts {
    margin: 50px 0 0;
    width: 700px;
    background: #f5f5f5;
    padding: 35px;
    border-radius: 5px;
    float: right;
}

.chart {
    width: calc(50% - 50px);
    margin: 25px 25px;
}

.stats {
    height: 90%;
}

.list {
    background: #f5f5f5;
    padding: 20px 25px;
}

.list h1 {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

#chart0 {

}

hr {
    height: 1px;
    margin: 10px 0;
    background-color: #062942;
}

#loading {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 40px;
    left: 0;
    background: #00000040;
    display: none;
}

.loadimg {
    margin: auto;
}

@page {
    size: A4;
    margin: 20mm 10mm;
}

@media print {
    html, body, main {
        margin: 0;
        padding: 0;
        width: 190mm;
        height: max-content;
    }

    header {
        display: none;
    }

    #name {
        font-family: OpenSansBold, serif;
        font-size: 1.5rem;
        margin: auto;
        color: black;
    }

    #description {
        margin: 15px auto -25px;
        width: 100%;
        text-align: center;
    }

    .top-bar {
        display: inherit;
        margin-bottom: -15px;
    }

    .info {
        margin-top: -10px;
        width: 690px;
    }

    .info h1 {
        font-size: 1rem;
    }

    #back-button {
        display: none;
    }

    #print-button {
        display: none;
    }

    #save-button {
        display: none;
    }

    .insert {
        display: none;
    }

    .road {
        padding: 0;
    }

    .left {
        float: inherit;
    }

    .right {
        float: inherit;
        width: 100%;
        padding: 0;
    }

    .list {
        margin-top: 100px;
    }

    .print-hide {
        display: none;
    }

    .charts {
        margin: 25px 0 0 0;
    }

    .selector {
        display: none;
    }

    .parameters {
        display: none;
    }
}